body {
    font-family: Arial;
    background: #eef6f3;
    margin: 0;
}

.auth-card {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

header {
    background: #4caf9d;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    padding: 20px;
    gap: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    resize: vertical;
}


button {
    background: #4caf9d;
    color: white;
    border: none;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
}
